@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --font-open-sans: "Open Sans", sans-serif;
}
@theme {
    /* Light mode */
    --color-background: #ffffff;
    --color-foreground: #0a0a0a;
    --color-border: #e5e7eb;
    --color-hover: #F9FAFB;
    --color-secondary: #475569;
    --color-border-hover: #d1d5db;
    --color-border-focus: #3b82f6;
    --color-input: #e5e7eb;
    --color-input-focus: #3b82f6;
    --color-ring: #3b82f6;
    --radius: 0.5rem;
}

.dark {
    /* Dark mode */
    --color-background: #121212;
    --color-foreground: #fafafa;
    --color-border: #323237;
    --color-hover: #1F2937;
    --color-secondary: #CBD5E1;
    --color-border2: #4b4b53 ;
    --color-border-hover: #3f3f46;
    --color-border-focus: #60a5fa;
    --color-input: #27272a;
    --color-input-focus: #60a5fa;
    --color-ring: #60a5fa;
}

body {
    font-family: var(--font-open-sans);
}

@layer components {
    .containers {
        @apply max-w-3xl xl:max-w-5xl mx-auto;
    }
    .padding-both {
        @apply md:py-20 md:py-12 px-6;
    }
    .nav-space {
        @apply mt-12;
    }
}
