@import "tailwindcss";
@import "tw-animate-css";

@layer components {
    .containers {
        @apply max-w-3xl xl:max-w-5xl mx-auto;
    }
    .padding-both {
        @apply py-20 md:py-12 px-6;
    }
    .nav-space {
        @apply mt-12;
    }
}
