@import "tailwindcss";
@import "tw-animate-css";

:root {
    --font-open-sans: "Open Sans", sans-serif;
}
@theme {
    /* Light mode */
    --color-background: #ffffff;
    --color-foreground: #0a0a0a;
    --color-border: #e5e7eb;
    --color-border-hover: #d1d5db;
    --color-border-focus: #3b82f6;
    --color-input: #e5e7eb;
    --color-input-focus: #3b82f6;
    --color-ring: #3b82f6;
    --radius: 0.5rem;
}

.dark {
    /* Dark mode */
    --color-background: #0a0a0a;
    --color-foreground: #fafafa;
    --color-border: #27272a;
    --color-border-hover: #3f3f46;
    --color-border-focus: #60a5fa;
    --color-input: #27272a;
    --color-input-focus: #60a5fa;
    --color-ring: #60a5fa;
}

body {
    font-family: var(--font-open-sans);
}

@layer components {
    .containers {
        @apply max-w-3xl xl:max-w-5xl mx-auto;
    }
    .padding-both {
        @apply md:py-20 md:py-12 px-6;
    }
    .nav-space {
        @apply mt-12;
    }
}
